
bin/Debug/net4.7/DocumentFormat.OpenXml.dll
bin/Debug/net4.7/ExcelDataReader.DataSet.dll
bin/Debug/net4.7/ExcelDataReader.dll
bin/Debug/net4.7/Microsoft.Win32.Primitives.dll
bin/Debug/net4.7/netstandard.dll
bin/Debug/net4.7/Newtonsoft.Json.dll
bin/Debug/net4.7/Parse.dll
bin/Debug/net4.7/Parse.NetFx45.dll
bin/Debug/net4.7/SyncXLSParse.exe
bin/Debug/net4.7/SyncXLSParse.exe.config
bin/Debug/net4.7/SyncXLSParse.pdb
bin/Debug/net4.7/System.AppContext.dll
bin/Debug/net4.7/System.Collections.Concurrent.dll
bin/Debug/net4.7/System.Collections.dll
bin/Debug/net4.7/System.Collections.NonGeneric.dll
bin/Debug/net4.7/System.Collections.Specialized.dll
bin/Debug/net4.7/System.ComponentModel.dll
bin/Debug/net4.7/System.ComponentModel.EventBasedAsync.dll
bin/Debug/net4.7/System.ComponentModel.Primitives.dll
bin/Debug/net4.7/System.ComponentModel.TypeConverter.dll
bin/Debug/net4.7/System.Configuration.ConfigurationManager.dll
bin/Debug/net4.7/System.Console.dll
bin/Debug/net4.7/System.Data.Common.dll
bin/Debug/net4.7/System.Diagnostics.Contracts.dll
bin/Debug/net4.7/System.Diagnostics.Debug.dll
bin/Debug/net4.7/System.Diagnostics.FileVersionInfo.dll
bin/Debug/net4.7/System.Diagnostics.Process.dll
bin/Debug/net4.7/System.Diagnostics.StackTrace.dll
bin/Debug/net4.7/System.Diagnostics.TextWriterTraceListener.dll
bin/Debug/net4.7/System.Diagnostics.Tools.dll
bin/Debug/net4.7/System.Diagnostics.TraceSource.dll
bin/Debug/net4.7/System.Diagnostics.Tracing.dll
bin/Debug/net4.7/System.Drawing.Primitives.dll
bin/Debug/net4.7/System.Dynamic.Runtime.dll
bin/Debug/net4.7/System.Globalization.Calendars.dll
bin/Debug/net4.7/System.Globalization.dll
bin/Debug/net4.7/System.Globalization.Extensions.dll
bin/Debug/net4.7/System.IO.Compression.dll
bin/Debug/net4.7/System.IO.Compression.ZipFile.dll
bin/Debug/net4.7/System.IO.dll
bin/Debug/net4.7/System.IO.FileSystem.dll
bin/Debug/net4.7/System.IO.FileSystem.DriveInfo.dll
bin/Debug/net4.7/System.IO.FileSystem.Primitives.dll
bin/Debug/net4.7/System.IO.FileSystem.Watcher.dll
bin/Debug/net4.7/System.IO.IsolatedStorage.dll
bin/Debug/net4.7/System.IO.MemoryMappedFiles.dll
bin/Debug/net4.7/System.IO.Packaging.dll
bin/Debug/net4.7/System.IO.Pipes.dll
bin/Debug/net4.7/System.IO.UnmanagedMemoryStream.dll
bin/Debug/net4.7/System.Linq.dll
bin/Debug/net4.7/System.Linq.Expressions.dll
bin/Debug/net4.7/System.Linq.Parallel.dll
bin/Debug/net4.7/System.Linq.Queryable.dll
bin/Debug/net4.7/System.Net.Http.dll
bin/Debug/net4.7/System.Net.NameResolution.dll
bin/Debug/net4.7/System.Net.NetworkInformation.dll
bin/Debug/net4.7/System.Net.Ping.dll
bin/Debug/net4.7/System.Net.Primitives.dll
bin/Debug/net4.7/System.Net.Requests.dll
bin/Debug/net4.7/System.Net.Security.dll
bin/Debug/net4.7/System.Net.Sockets.dll
bin/Debug/net4.7/System.Net.WebHeaderCollection.dll
bin/Debug/net4.7/System.Net.WebSockets.Client.dll
bin/Debug/net4.7/System.Net.WebSockets.dll
bin/Debug/net4.7/System.ObjectModel.dll
bin/Debug/net4.7/System.Reflection.dll
bin/Debug/net4.7/System.Reflection.Extensions.dll
bin/Debug/net4.7/System.Reflection.Primitives.dll
bin/Debug/net4.7/System.Resources.Reader.dll
bin/Debug/net4.7/System.Resources.ResourceManager.dll
bin/Debug/net4.7/System.Resources.Writer.dll
bin/Debug/net4.7/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/net4.7/System.Runtime.CompilerServices.VisualC.dll
bin/Debug/net4.7/System.Runtime.dll
bin/Debug/net4.7/System.Runtime.Extensions.dll
bin/Debug/net4.7/System.Runtime.Handles.dll
bin/Debug/net4.7/System.Runtime.InteropServices.dll
bin/Debug/net4.7/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Debug/net4.7/System.Runtime.Numerics.dll
bin/Debug/net4.7/System.Runtime.Serialization.Formatters.dll
bin/Debug/net4.7/System.Runtime.Serialization.Json.dll
bin/Debug/net4.7/System.Runtime.Serialization.Primitives.dll
bin/Debug/net4.7/System.Runtime.Serialization.Xml.dll
bin/Debug/net4.7/System.Security.AccessControl.dll
bin/Debug/net4.7/System.Security.Claims.dll
bin/Debug/net4.7/System.Security.Cryptography.Algorithms.dll
bin/Debug/net4.7/System.Security.Cryptography.Csp.dll
bin/Debug/net4.7/System.Security.Cryptography.Encoding.dll
bin/Debug/net4.7/System.Security.Cryptography.Primitives.dll
bin/Debug/net4.7/System.Security.Cryptography.X509Certificates.dll
bin/Debug/net4.7/System.Security.Permissions.dll
bin/Debug/net4.7/System.Security.Principal.dll
bin/Debug/net4.7/System.Security.Principal.Windows.dll
bin/Debug/net4.7/System.Security.SecureString.dll
bin/Debug/net4.7/System.Text.Encoding.CodePages.dll
bin/Debug/net4.7/System.Text.Encoding.dll
bin/Debug/net4.7/System.Text.Encoding.Extensions.dll
bin/Debug/net4.7/System.Text.RegularExpressions.dll
bin/Debug/net4.7/System.Threading.dll
bin/Debug/net4.7/System.Threading.Overlapped.dll
bin/Debug/net4.7/System.Threading.Tasks.dll
bin/Debug/net4.7/System.Threading.Tasks.Parallel.dll
bin/Debug/net4.7/System.Threading.Thread.dll
bin/Debug/net4.7/System.Threading.ThreadPool.dll
bin/Debug/net4.7/System.Threading.Timer.dll
bin/Debug/net4.7/System.ValueTuple.dll
bin/Debug/net4.7/System.Xml.ReaderWriter.dll
bin/Debug/net4.7/System.Xml.XDocument.dll
bin/Debug/net4.7/System.Xml.XmlDocument.dll
bin/Debug/net4.7/System.Xml.XmlSerializer.dll
bin/Debug/net4.7/System.Xml.XPath.dll
bin/Debug/net4.7/System.Xml.XPath.XDocument.dll
obj/Debug/net4.7/.NETFramework,Version=v4.7.AssemblyAttributes.cs
obj/Debug/net4.7/SyncXLSParse.AssemblyInfo.cs
obj/Debug/net4.7/SyncXLSParse.AssemblyInfoInputs.cache
obj/Debug/net4.7/SyncXLSParse.assets.cache
obj/Debug/net4.7/SyncXLSParse.csproj.AssemblyReference.cache
obj/Debug/net4.7/SyncXLSParse.csproj.CopyComplete
obj/Debug/net4.7/SyncXLSParse.csproj.CoreCompileInputs.cache
obj/Debug/net4.7/SyncXLSParse.csproj.FileListAbsolute.txt
obj/Debug/net4.7/SyncXLSParse.exe
obj/Debug/net4.7/SyncXLSParse.exe.config
obj/Debug/net4.7/SyncXLSParse.exe.withSupportedRuntime.config
obj/Debug/net4.7/SyncXLSParse.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net4.7/SyncXLSParse.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/SyncXLSParse.csproj.nuget.dgspec.json
obj/SyncXLSParse.csproj.nuget.g.props
obj/SyncXLSParse.csproj.nuget.g.targets
